{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
    <article>
        <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2>
        <div class="entry-content blog-post">
            {% if article.photo_image %}<img src="{{ SITEURL }}/{{ article.photo_image[1] }}" />{% endif %}

            {{ article.content }}


            {% if article.photo_gallery %}
            <div class="gallery">
                {% for title, gallery in article.photo_gallery %}
                    <h1>{{ title }}</h1>
                    {% for name, photo, thumb, exif, caption in gallery %}
                       <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a><br>
                     {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
         </div>
        <div class="post_list">
            <span class="post_date">{{ article.locale_date }}</span>
        </div>
    </article>
</section>
{% endblock %}
