{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<section id="content">
    <article>
        <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2>
        <div class="entry-content blog-post">
            {% if article.photo_image %}<img src="{{ SITEURL }}/{{ article.photo_image[1] }}" />{% endif %}

            {{ article.content }}


            {% if article.photo_gallery %}
            <div class="gallery">
                {% for title, gallery in article.photo_gallery %}
                    <h1>{{ title }}</h1>
                    {% for name, photo, thumb, exif, caption in gallery %}
                       <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
                     {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
         </div>
        <div class="post_list">
            <span>Por </span>
            <a href="{{ SITEURL }}/{{ article.author.url }}">@{{ article.author }}</a>
            <span> en </span>
            <span class="post_category"><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark" title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a></span>
            <span class="post_date">{{ article.locale_date }}</span>
            <div><span>Tags : </span>
                {% if article.tags %}
                {% for tag in article.tags %}
                <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}, </a></span>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </article>
</section>
{% endblock %}
